* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #282727;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
}

a {
    color: #9fef00;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    color: #cde3d1;
}

.nav {
    display: flex;
    width: 400px;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
}

.hero {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#angle-open,
#angle-close {
    color: #9fef00;
    font-size: 120px;
}

#name {
    color: #9fef00;
    font-size: 50px;
}

.intro {
    display: flex;
    width: 350px;
    height: 90px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}

#baseline-abt-me {
    color: #ffffff;
    width: 20px;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.roles {
    color: #9fef00;
    display: inline-flex;
    width: max-content;
    height: max-content;
    overflow: hidden;
    font-size: 20px;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
}

#role-1 {
    position: relative;
    display: inline-flex;
    animation: typing-web-pentester 3.5s steps(13, end), blink-caret .75s step-end infinite;
}

#role-2 {
    display: none;
    position: relative;
    animation: typing-security-enthusiast 3.5s steps(19, end), blink-caret .75s step-end infinite;
}


/* The typing effect */

@keyframes typing-web-pentester {
    from {
        width: 0
    }
    to {
        width: 160px;
    }
}

@keyframes typing-security-enthusiast {
    from {
        width: 0
    }
    to {
        width: 220px;
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

.whoami {
    background-blend-mode: overlay;
    width: 90%;
    height: 200px;
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #ffffff;
}

.bio {
    margin-left: 50px;
    margin-top: 20px;
}

.whoami p {
    font-size: 18px;
    line-height: 30px;
}

.cmd {
    color: #9fef00;
}

.accolades {
    display: flex;
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
}

.wrapaccolades { 
    display: flex;
    align-items: center;
    height: 25px;
}
.ls-accolades {
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    margin-left: 20px;
    word-spacing: .15em;
    flex-wrap: wrap;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #9fef00;
    border-radius: 50%;
    display: inline-block;
}

.ping-me {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    height: 300px;
}

.links {
    color: #ffffff;
    font-size: 18px;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
}

.links:hover {
    color: #9fef00;
}

.dash {
    display: inline-flex;
    height: 5px;
    width: 20px;
    background-color: #9fef00;
    margin-top: -1px;
}

.link-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 30px;
}

/* NAVBAR STYLING STARTS */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}

.nav-links a {
    color: #ffffff;
}


/* LOGO */

.logo {
    font-size: 32px;
}


/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    color: #ffffff;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
    list-style-type: none;
}


/* DROPDOWN MENU */

.services {
    position: relative;
}

.dropdown {
    background-color: #5a5e5b;
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #ffffff;
}

.services:hover .dropdown {
    display: block;
}


/*RESPONSIVE NAVBAR MENU STARTS*/


/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
}


/*HAMBURGER MENU*/

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}


/* APPLYING MEDIA QUERIES */

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #5a5e5b;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .menu li a:hover {
        display: inline-block;
        color: #ffffff;
        transition: 0.3s ease;
    }
    .menu li+li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked~.menu {
        display: block;
    }
    .hamburger {
        display: block;
    }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
        background-color: #5a5e5b;
    }
    .dropdown li:hover {
        background-color: #4c9e9e;
    }
    .cmd {
        font-size: 20px;
    }
    .whoami {
        height: 300px;
    }
    .bio{
        margin-top: 35px;
    }
}

@media (max-width: 500px) {
    #angle-open,
    #angle-close {
        color: #9fef00;
        font-size: 50px;
    }
    #name {
        color: #9fef00;
        font-size: 30px;
    }
    .intro {
        display: flex;
        width: 350px;
        height: 90px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 15px;
    }
    .whoami p {
        font-size: 15px;
    }
    #baseline-abt-me {
        color: #ffffff;
        width: 20px;
    }
    #role-1 {
        font-size: 15px;
    }
    #role-2 {
        font-size: 15px;
    }
    .accolades {
        margin-top: 80px;
        font-size: 15px !important;
    }
    .ls-accolades {
        font-size: 15px !important;
        width: 200px;
    }
    .intro {
        width: 250px;
    }
    @keyframes typing-web-pentester {
        from {
            width: 0
        }
        to {
            width: 110px;
        }
    }
    @keyframes typing-security-enthusiast {
        from {
            width: 0
        }
        to {
            width: 150px;
        }
    }
}

.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  width: 95%;
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
